!!!
%html
  %head
    %title Hello world!
    %link{rel: 'stylesheet', href: '/css/main.css'}
  %body
    .site
      .header
        %h1 Hello world!
      %p
        This is a long paragraph
    .footer
      %p
        The footer
